<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Vue 2.0 实例</title>
    <script src="../assets/js/vue.js"></script>

</head>
<body>
    <h1>v-for 实例</h1>
    <hr>
    <div id="app">
        <ul>
            <li v-for="item in sortItems">{{item}}</li>
        </ul>
        <hr>
        <ul>
            <li v-for="(student,index) in sortStudents">
                {{index}}:{{student.name}}-{{student.age}}
            </li>
        </ul>
    </div>
    <script>
        var app = new Vue({
            el:'#app',
            data:{
                items:[12,34,54,14,7,18],
                students:[
                    {name:'lulisong',age:22},
                    {name:'xiansili',age:21},     
                    {name:'RouSong',age:23},   
                    {name:'siji',age:20}, 
                    {name:'pangaohua',age:19}     
                ]
            },
            computed:{
                sortItems:function(){
                    return this.items.sort(sortNumber)
                },
                sortStudents:function(){
                    return sortByKey(this.students,'age')
                }
            }
        });
        function sortNumber(a,b){
            return a-b;
        }
        //数组对象方法排序
        function sortByKey(array,key){
            return array.sort(function(a,b){
                var x = a[key];
                var y = b[key];
                return ((x<y)?-1:((x>y)?1:0));
            })
        } 
    </script>    
</body>
</html>